* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  background: rgb(50, 31, 7);
}

::-webkit-scrollbar-thumb {
  background: rgb(255, 187, 0);
  border-radius: 3px;
}

:root {
  font-size: 1vw;
}

body {
  background: rgb(236, 244, 251);
}
body .quote {
  width: 100%;
  background: rgb(236, 244, 251);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "lato";
}
body .quote p:first-of-type {
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
body .quote p:first-of-type::before {
  content: "''";
  display: block;
  font-family: "Ephesis";
  font-size: 350px;
  rotate: 180deg;
  opacity: 75%;
  height: 25%;
}
body .quote p:first-of-type::after {
  content: "''";
  font-family: "Ephesis";
  font-size: 350px;
  opacity: 75%;
  height: 25%;
}
body .quote p:nth-of-type(2) {
  font-size: 4rem;
  font-family: "Ephesis";
  margin-bottom: 100px;
}
body .line {
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
  width: 70px;
  height: 3px;
  background: orange;
  margin: 35px 0px 25px 0px;
}
body .main-img-bg-container {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100vh;
  background: url(/style/img/man-with-dog.jpg);
  background-size: cover;
  background-position: bottom -90px left 50%;
  background-attachment: fixed;
  filter: brightness(50%);
}
body main {
  width: 100%;
  position: relative;
  height: 100vh;
  font-family: sans-serif, "lato";
  color: white;
  text-shadow: 0px 0px 5px black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body main h1 {
  width: 1050px;
  font-size: 2.5rem;
  text-align: center;
  margin: 40px 0px 50px 0px;
  text-transform: uppercase;
}
body main button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
body main button:hover a {
  background: rgb(255, 149, 0);
  color: white;
  transform: scale(105%);
}
body main button:hover span {
  opacity: 100%;
  color: white;
  transform: translateX(170px);
}
body main button span {
  color: rgb(255, 255, 255);
  font-weight: 600;
  transform: translateX(100px) translateY(-3px);
  text-shadow: 0px 0px 3px black;
  transition: 0.5s;
  opacity: 10%;
  position: absolute;
  z-index: 0;
}
body main button a {
  text-decoration: none;
  position: absolute;
  z-index: 1;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.5);
  font-weight: 600;
  color: rgb(27, 27, 27);
  background: rgb(215, 145, 15);
  font-family: sans-serif, "lato";
  padding: 15px 40px 15px 40px;
  text-shadow: none;
  text-align: center;
  border-radius: 100px;
  transition: 0.5s;
  font-size: 0.75rem;
}
body header nav {
  display: flex;
  justify-content: space-around;
  position: fixed;
  backdrop-filter: blur(2px);
  z-index: 10;
  width: 100%;
  padding: 5px;
}
body header nav ol {
  display: flex;
  list-style-type: none;
}
body header nav ol li {
  margin: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}
body header nav ol li a:hover {
  color: orange;
  transform: scale(105%);
}
body header nav ol li a:not(:hover) a {
  color: red !important;
}
body header nav ol li a {
  transition: 0.3s;
  text-decoration: none;
  color: rgb(226, 226, 226);
  font-family: "lato";
  font-size: 0.75rem;
}
body header nav .img-container img {
  width: 80px;
  mix-blend-mode: color-burn;
  transition: 0.25s;
  filter: drop-shadow(0px 0px 20px black) saturate(5) grayscale(20%) brightness(80%);
}
body header nav .img-container img:hover {
  scale: 105%;
}/*# sourceMappingURL=style.css.map */